#root {
  max-width: 100%;
  margin: 0 !important;
  padding: 0 !important;  
}
   
.input:focus, .input:focus-visible {
  border: 2px solid var(--primary);
}

.btn { 
  background-color: var(--primary); 
  cursor: pointer; 
}

.btn:hover {
  background-color: var(--primary-hover);
}